[*.cs]
end_of_line  = crlf
indent_style = space
indent_size  = 4

csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_before_colon_in_inheritance_clause = true
